@import '@fontsource/rubik-glitch';
@import '@fontsource/rampart-one';
@import '@fontsource/mystery-quest';
@import '@fontsource/barriecito';
@import '@fontsource/eater';
@import '@fontsource/erica-one';
@import '@fontsource/faster-one';
@import '@fontsource/bungee-spice';
@import '@fontsource/frijole';
@import '@fontsource/kranky';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Inter:wght@400;700&family=Playfair+Display:wght@400;700&family=Lora:wght@400;700&family=Montserrat:wght@400;700&family=DM+Sans:wght@400;700&family=Raleway:wght@400;700&family=Nunito:wght@400;700&family=Merriweather:wght@400;700&family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.input-style {
  @apply w-full px-4 py-2 rounded-lg bg-white/20 backdrop-blur-sm text-white placeholder-gray-300 border border-white/30 focus:outline-none focus:ring-2 focus:ring-[#e60023];
}
.submit-btn {
  @apply w-full bg-[#e60023] hover:bg-red-700 text-white py-2 rounded-lg font-semibold transition;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
}